@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;700&display=swap');
body
{
    font-family: 'Mitr', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    border: 1px solid ;
    padding: 10px;
}
.logo {
    padding: 0.5rem 1rem;

}


header {
    height: 690px;
    display: flex;
    justify-content: top;
    align-items: top;
    border: 1px ;
    background-color: rgb(223, 236, 240);
}
.header-info {
    padding: 2rem 3rem;
    color:#3a3b42;
    width: 900x;
    height: auto;
    border: 1px ;
}

.header-info h1{
    color: rgb(73, 60, 78);
    font-size: 60px;
}
.header-info h2{
    padding: 1rem 0rem;
    color: rgb(73, 60, 78);
    font-size: 50px;
}

.header-info p {
    padding: 0rem 1.5rem ;
    font-size: 20px;
}
.header-info a {
    text-align: center;
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    width: 400px;
    padding: 20px 50px;
    background-color: rgb(62, 57, 77);
    color:white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
    transition: all 0.25s ease;
}
.header-btn {
    background-color: rgb(62, 57, 77);
    position: relative;
    transition: all 0.25s ease;
}
.header-btn:hover{
    transform:translate(0px,-6px);
}
.header-btn:hover::before{
    transform:translate(0px,4px);
}
.header-btn:hover::after{
    transform:translate(0px,0px);
}
.header-btn::after,.header-btn::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    border-radius: inherit;
    background-color:  rgb(56, 60, 99);
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all 0.25 ease;

}